#_brand {
	padding-left: 60px;
	background-image: url("/wl?i=logo.png");
	background-repeat: no-repeat;
	background-position: center center;
	height: 50px;
	cursor: pointer;
}
x-a {
	color: green;
}
.inverse, .navbar-inverse .navbar-inner{
	background-color: green;
	background-image: none;
}
/*
ul.nav li.active a, .label-inverse {
	background-color: green;
}
.subnav ul li.active a:hover {
	color: black;
}
*/
.navbar-inverse .navbar-inner ul li .top-navbar-item:hover {
	color: black;
}
.navbar-fixed-top {
	border-bottom : 1px solid silver;
	background-color: #eeeeee;
}
ul.nav-pills > li.active > a, appTitlePanel {
	background-color: #999;
	x-color: white;
	opacity: 1;
}
