<div class="container">
<h1>Centre d'assistance</h1>
<p class="lead">
<table class="table table-striped table-bordered lead" style="width:50%;">
<tr><td class="align-center"><i class="fa fa-envelope"></i></td><td><a href="javascript:App.mailTo('support@set-me.com');">support@set-me.com</a> <span style="font-size: 80%;"></span></td></tr>
<tr><td class="align-center"><i class="fa fa-phone"></i></td><td>(000) 000-0000</td></tr>
</table>
</p>
</div>

<script type="text/javascript">
(function(){
	var _curPage = App.getCurPageDef().pageId;
	var tcup = function() {
		var cp = App.getCurPageDef();
		if (cp && cp.pageId == _curPage) {
			App._contactUs();
		}
	};
	var cleanup = function(e) {
		if (e.data && e.data == _curPage) {
			App.unbind('langChanged', tcup);
			App.unbind('removing-page', cleanup);
		}
	};
	App.bind('removing-page', cleanup);
	App.bind('langChanged', tcup);
})();
</script>